:root {
  /* font size */
  --text-s: 16px;
  --text-m: 18px;
  --text-l: 36px;
  --text-xl: 48px;

  /* font weight */
  --text-300: 300;
  --text-400: 400;
  --text-600: 600;
  --text-800: 800;

  /* text color */
  --text-gray: #ebebeb;
  --text-rpimary: #caf0f8;
  --text-secundary: #90e0ef;
  --text-btn: #fdf0d5;

  /* bg-color */
  --bg-list: #48cae4;
  --bg-primary: #023e8a;
  --bg-secondary: #0077b6;
  --bg-btn: #03045e;
}
